<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cities</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>List of Destinations</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
            </tr>
            
            <tr th:each="destination : ${listDestination}">
                <td th:text="${destination.n_iddestination}">Id</td>
                <td th:text="${destination.t_name}">Name</td>
                <td th:text="${destination.t_city}">City</td>
                <td th:text="${destination.t_state}">State</td>
            </tr>
        </table>

    </body>
</html>